* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 14px;
}
img{
    width: 100%;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

h1 {
    font-size: 1.5rem;
}
#form {
    border: 1px solid #383d47;
    border-radius: 1rem;
}
#searchInput {
    min-width: 20rem;
    border: transparent;
    padding: 0.5rem;
    margin-left: 1rem;
    font-size: 15px;
}

#searchInput:focus {
    outline: none;
}

#searchBtn {
    padding: 0.5rem 1rem;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
}

#cardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movieCard {
    width: 300px;
    margin: 1rem;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
}

.movieInfo {
    padding: 1rem;
}

.movieInfo h3 {
    padding-bottom: 0.5rem; 
}

.overview{
    padding: 0 1rem 1rem 1rem;
}